#
BANCHILE_RUT=tu_rut
BANCHILE_PASSWORD=tu_password

# Environment variables for Pasastesintag application
PASASTESINTAG_PLATE_EMAIL_MAP={"PATENTE":"mail.dest@gmail.com"}
# Coneccion SMTP para enviar correos
PASASTESINTAG_SMTP_HOST=smtp.gmail.com
PASASTESINTAG_SMTP_PORT=587
PASASTESINTAG_SMTP_USERNAME=mail-username
PASASTESINTAG_SMTP_PASSWORD="app_password"
PASASTESINTAG_SMTP_FROM_EMAIL=mail-from
PASASTESINTAG_SMTP_USE_TLS=true